header{
    height: 70px;
    background-color: #808080;
    color: white;
    border-bottom: 2px solid black;
}

footer{
    height: 30px;
    background-color: #808080;
    color: white;
    border-top: 2px solid black;
}

.square{
    height: 50px;
    width: 50px;
    background-color: orangered;
    margin: 50px;
    
  }

.circle{         
    height: 200px;
    width: 200px;
    background-color: blue;
}





